@import url("https://fonts.googleapis.com/css2?family=Lora:wght@700&display=swap");

* {
  box-sizing: border-box;
}

body,
html {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  background-color: #0e1111;
}

h3 {
  font-family: "Lora", serif !important;
}

.header {
  padding-top: 20px;
}
.header h1 {
  text-align: center;
  margin-top: 15px !important;
  font-size: 40px !important;
  margin-bottom: -20px !important;
}

.header p {
  text-align: center;
  margin-top: 15px;
  margin-bottom: -30px;
  font-size: 0.8em;
}

.header span {
  font-size: 0.5em;
  text-align: center;
  margin-top: 30px;
  margin-bottom: -25px;
  display: block;
}

#mapid {
  height: 450px;
  -webkit-box-shadow: -2px 11px 25px -11px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -2px 11px 25px -11px rgba(0, 0, 0, 0.75);
  box-shadow: -2px 11px 25px -11px rgba(0, 0, 0, 0.75);
}

.card-wrap {
  margin: 20px auto;
  width: 100%;
}

.row {
  display: flex;
  justify-content: space-between;
  margin: 3em auto !important;
}

.card-body {
  text-align: center;
  -webkit-box-shadow: 11px 10px 24px -23px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 11px 10px 24px -23px rgba(0, 0, 0, 0.75);
  box-shadow: 11px 10px 24px -23px rgba(0, 0, 0, 0.75);
}

/* Search bar in nav */
form {
  position: absolute;
  right: 1%;
  top: 22%;
  width: 40%;
}

input[type="text"] {
  width: 40% !important;
}

.btn {
  padding: 0.14rem 0.75rem !important;
  margin-left: 10px;
}

/* ******* */
.flip-card {
  background-color: transparent;
  width: 300px;
  height: 200px;
  margin: 10px;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
}

.flip-card p {
  font-size: 1.9em;
  color: white;
}

.flip-card h3 {
  font-size: 0.9em;
  margin-bottom: -7px;
}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 1.2em;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
  background-color: #343332;
  color: white;
}

/* Style the back side */
.flip-card-back {
  background-color: dodgerblue;
  color: white;
  transform: rotateY(180deg);
  text-align: left !important;
}

.flip-card-back p {
  font-size: 0.7em;
  margin-bottom: 3px;
}

canvas {
  height: 90% !important;
  width: 90% !important;
}

footer {
  background-color: #343332;
  color: white;
  margin-top: 80px !important;
}

footer p {
  font-size: 15px;
  width: 100%;
}

footer .row {
  margin-bottom: 0 !important;
}

.jumbotron {
  background: url("https://cdn.pixabay.com/photo/2020/03/16/16/29/virus-4937553__480.jpg")
    no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.py-5 {
  padding: 0 !important;
}

.vaccine-card-body {
  margin-top: -100px;
}

.show-read-more .more-text {
  display: none;
}

.card p {
  font-size: 0.7em;
}
